{% extends "base.html" %}

{% block custom_style %}
    <style>

        #notfound {
            display: block;
            margin: 0 auto;
            width: 850px;
            font-family: 'Century Gothic', Calibri, 'Myriad Pro', Arial, Helvetica, sans-serif;
            text-align: center;
        }

        h1 {
            color: #76D7FB;
            font-size: 60px;
            text-shadow: 3px 3px 0 #3D606D;
            white-space: nowrap;
        }

        h2 {
            color: #9FE3FC;
            font-size: 18px;
            font-weight: normal;
            padding: 25px 0;
        }
    </style>
{% endblock %}

{% block banner %}
    <div id="page" class="carousel carousel-slider center index-cover" data-indicators="true"
         style="margin-top: -64px;">
        <div class="carousel-item red white-text bg-cover about-cover">
            <div class="container">
                <div id="notfound">
                    <h1>404 Page Not Found </h1>
                    <h2> We couldn't find what you were looking for.</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
